.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

xpeapp_ios/XpeApp/Build/
xpeapp_ios/XpeApp/Coverage.xml
xpeapp_ios/XpeApp/XpeApp/GoogleService-Info.plist